header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    }

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
}

.btnNav{
    background-color: blueviolet;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}

.contenido{
    display: flex;
}

main{
    background-color: chartreuse;
    width: 70%;
}


aside{
    background-color:#1abc9c;
    width: 30%;
}

footer {
    display: flex;
    width: 100%;
    background-color:black;
    color: white;
    text-align: left;
    }

.derechos{
    width: 40%;
}

.link{
    display:flex ;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 30%;
}
