body{
    font-family: 'Sunflower', sans-serif;
}

header {
    padding: 60px;
    text-align: center;
    background-color: #C2DEDC;
    color: white;
    font-size: 30px;
    }

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #CDC2AE;
    width: 100%;
}

.btnNav{
    background-color: #CDC2AE;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}

.contenido{
    display: flex;
}

main{
    background-color: #ECE5C7;
    width: 100%;
}

section{
    width: 100%S;
}

.contenido2{
    display: flex;
}

article{
    width: 70%;
}

aside{
    width: 30%;
}


footer {
    display: flex;
    width: 100%;
    background: #C2DEDC;
    color: black;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
    }

.derechos{
    width: 40%;
}

.link{
    display:flex ;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 30%;
}

.redes{
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.linkFooter{
    text-decoration: none;
    color: black;
}
