body{
    font-family: 'Sunflower', sans-serif;
}


.contenido{
    display: flex;
}

main{
    display: flex;
    width: 100%;
}

.espacio2{
    width: 15%;
}

.espacio1{
    width: 15%;
}

section{
    width: 70%;
}

.bienvenidad{
    text-align: center;
}

.trabajos{
    display: flex;
    justify-content: space-evenly;
}


footer {
    display: flex;
    width: 100%;
    background: #C2DEDC;
    color: black;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
    }

.derechos{
    width: 40%;
}

.link{
    display:flex ;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 30%;
}

.redes{
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.linkFooter{
    text-decoration: none;
    color: black;
}
